<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243638642068-ulqi4jhooj4lau1s44oibplv10poqumb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243638642068-ulqi4jhooj4lau1s44oibplv10poqumb</string>
	<key>API_KEY</key>
	<string>AIzaSyCOGP78Ezg2zr3bE34RoZfD9rnLAJSx9Js</string>
	<key>GCM_SENDER_ID</key>
	<string>243638642068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LB.Rev0</string>
	<key>PROJECT_ID</key>
	<string>budgeit-39c45</string>
	<key>STORAGE_BUCKET</key>
	<string>budgeit-39c45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243638642068:ios:e6c3aa8b7e44e569325b81</string>
</dict>
</plist>